<dom-module id="my-greeting">
  <style>
    :host {
      display: block;
      margin: 1em;
      padding: 1em;
      border: 1px solid #000;
      border-radius: 5px;
    }

    button {
      display: block;
      margin: 1em 0;
    }
  </style>
  <template>
    <h1><span></span></h1>
    <span>Actualiza el texto para cambiar el título.</span>
    <!-- Listens for "input" event and sets greeting to <input>.value -->
    <input value="{{greeting::input}}"/>



    <button on-tap="_login" hidden$="[[isLogged]]">Identificar usuario</button>

    <button on-tap="_disconnect" hidden$="[[!isLogged]]">Desconectar usuario</button>

    <button on-tap="_goToAnother">Navega a otra página pasando parámetros</button>

    <button on-tap="_goToRouterExample">Pagina de explicacion del Router</button>

  </template>

  <script>
(function() {
  Polymer({
    is: 'my-greeting',

    properties: {
      greeting: {
        type: String,
        value: 'Bienvenido!',
        notify: true
      },
      persona: {
        type: Object,
        notify: true
      },
      isLogged: {
        type: Boolean,
        value: false
      }
    },

    myAwesomeServiceWhichReturnsUserInfo: function(userState) {
      return digitalData = {
        "user.userState": (userState) ? "logged" : "not logged",
        "user.segment.global": "",
        "user.profileID": "",
        "user.country": "",
        "user.state": "",
        "user.age": "",
        "user.gender": ""
      };
    },

    _login: function() {
      this.set('isLogged', true);
      this.fire('user-is-logged', this.myAwesomeServiceWhichReturnsUserInfo(true));
    },

    _disconnect: function() {
      this.set('isLogged', false);
      this.fire('user-is-logged', this.myAwesomeServiceWhichReturnsUserInfo(false));
    },

    _goToRouterExample: function(){
       this.fire('router-event', { 'stateParam': 1234 ,'queryParam': "un param" , "queryParamTwo": 5678});
    },

    _goToAnother: function() {
      this.set('persona', {"name": "koke", "surname": "Contreras"});
      this.fire('foobar-event', { 'itemId': 1234 });
    }

  });
})();
</script>

</dom-module>
